.categories{
 color: black;
}
.products{
  color: black;
  box-shadow: 0 10px 20px rgb(230, 223, 223),
              0 -10px 20px rgb(230, 223, 223);
}
.filters{
  color: black;
}

.filters h1{
  text-align: left;
  margin-top: -10px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
}

.filters h1 span{
  display: inline-block;
  padding: 0 10px;
  background-color: white;
}

.price-Boxes{
  text-align: left;
}

.price-Boxes span{
  background-color: white;
  border-radius: 4%;
}

.pointer{
  cursor:pointer
}

.shadowed{
  box-shadow: 0 10px 20px rgb(230, 223, 223);
}

.image-shadow{
  box-shadow: 4px 4px 20px rgb(235, 233, 232),
  -4px -4px 20px rgb(235, 233, 232);
}

.iimg{
  text-align: center;
  margin: auto;
  color: rgba(231, 230, 224, 0.637);
}